*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Black', sans-serif;
}
  
body{
    overflow: auto;
}
  
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #e4e7eb;
}
  
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}
  
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
  
b{
    font-size: 70px;
    color: #876445;
}
  
.navItens{
    display: flex;
}
  
.navItens li{
    list-style: none;
    margin: 0 15px;
}
  
.navItens li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
  
.navItens li:hover a,.links a:hover{
    color: #876445;
}
  
.links a{
   font-size: 30px;
   color: #3d535f;
   margin: 25px 10px;
}

.copyright{
    background-color: #e4e7eb;
    text-align: center;
    padding: 20px;
}

.copyright p{
    margin: 10px;
}

